@charset "utf-8";


<style>
@import url('https://fonts.googleapis.com/css?family=Glegoo|Hind:300|IBM+Plex+Sans:100,200,300,400,500,600,700');
</style>


body {
    height: 100%;
    width:100%;
    position: absolute;
    background-color: white; 
}

a:hover, a:visited {text-decoration: none;}


/* navbar */

#alto-sx{
    left: 3%;
    top: 3%;
    position: fixed;
    z-index: 50;
}

#alto-dx{
    right: 3%;
    top: 3%;
    position: fixed;
    z-index: 50;
}

#basso-sx{
    left: 3%;
    bottom: 3%;
    position: fixed;
    z-index: 50;
}

#basso-dx{
    right: 3%;
    bottom: 3%;
    position: fixed;
    z-index: 50;
}

.menu-sopra {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
	letter-spacing: 2px;
    color:#303030;}

.menu-sopra li a:hover {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #fd715f;
    height: 25px !important;
}

.attivo-sopra {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #fd715f;
    height: 25px !important;
}

.menu-sotto {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
	letter-spacing: 2px;
    color:#303030;}

.menu-sotto li a:hover {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-top: 3px solid #fd715f;
    height: 25px !important;
}

.attivo-sotto {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-top: 3px solid #fd715f;
    height: 25px !important;
}

/* FONT FONT */

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
	letter-spacing: 2px;
    color:#303030;
    margin-bottom: 0px;
    margin-left: -4px;
    
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
	letter-spacing: 0.4px;
    color:#303030;
    line-height: 36px;
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
	letter-spacing: 0.4px;
    color:#fd715f;
    text-align: right;
    border-bottom: none;
}

h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
	letter-spacing: 0.6px;
    color:#fd715f;
    margin-bottom: 0px;
    margin-top: 30px;
}

h5{ 
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 7px;
    color: white;
    background-color: #fd715f;	
    text-transform: uppercase;
    margin: 30 0 0 55; 
}

h6{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #303030;    
    text-transform: uppercase;
}

h7{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 23px;
    font-size: 15px;
    color:#303030;
}

h8{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color:#303030;
    
}

h10{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
	letter-spacing: 0.6px;
    color:#303030;
    margin-bottom: 30px;
    
}

.semi-bold{
    font-weight: 600;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color:#303030;
    margin-top: 20px;
    
}

/* home */
.home-titolo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
	letter-spacing: 0.5px;
    margin-top: 10px;
     color: #fd715f;
}

.underline{
    color: #fd715f;
    text-decoration: none;
    border-bottom: 4px solid #fd715f;
    height: 10px !important;
}

.tagline{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
	letter-spacing: 0px;
    color:#303030;
    text-transform: uppercase;   
}

.co-create{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
	letter-spacing: 0;
    color:#fd715f;
    margin-top: 15px;
    text-transform: uppercase;
    line-height: 24px;
}

/*GENERALE*/
.top-60{
    margin-top: 60px;
}

.top-30{
    margin-top: 30px;
}

.left-0{
    margin-left: 0px;
}

.top-0{
    margin-top: 0px;
}

.bot-8{
    margin-bottom: 8px;
}

.bot-30{
    margin-bottom: 30px;
}

.bot-80{
    margin-bottom: 80px;
}

.top-20{
    margin-top: 20px;
}

.orange-hand{
    color: #fd715f;
}
/* methods-scheda */

.square{
    height: 20px;
    width: 20px;
    background-color: white;
    margin-right: 20px;
    border: 3px solid #fd715f;
    margin-left: 15px;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #fd715f;
    margin-right: 20px;
   
}

.square-2{
    height: 15px;
    width: 15px;
    background-color: white;
    margin-right: 20px;
    border: 3px solid #fd715f;
    transform: rotate(45deg);
    margin-top: 2px;
}

img {
    max-width: 100%;
    height: auto;    
}

#image-metodo{
    
    float:righ;
    }

.col-numeri{    
    border-right: 3px #fd715f solid;   
    right: 15px; }

.col-numeri-ws{    
    border-right: 7px #fd715f solid;   
    right: 15px; }

.link_style{
    color: #303030;
    font-weight: 400;
	text-decoration:none;
	background-image:linear-gradient(180deg,transparent 70%, rgba(253, 113, 95,.40) 0);
    cursor: pointer;
    pointer-events: auto;
	}

.link_style:hover{
    text-decoration: none;    
    color:#303030;
    background-image:linear-gradient(180deg,transparent 1%, rgba(253, 113, 95,.40) 0);    
}


/* BOTTONE */

.btn{
  	margin: 15px;
	padding: 1rem 1.5rem 1rem 1.5rem;    	
  	background-size: 100% 100%;
	height: 50px;
	width: auto;
  	border-radius: 0.3px;
	border: none;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.6px;
    font-weight: 600;
    background-color:white;
	cursor: pointer;
	border: 3px #303030 solid;	
  	color: #303030;
}


.btn:hover {
	border: 3px #fd715f solid;	
  	color: #fd715f;
}

.btn:focus{
    outline: none !important; 
    box-shadow: none;
}



.forms-btn{
    
    margin-right: 10px;
    display: inline-flex;
    border: 2px solid #fd715f;
    margin-bottom: 30px;
}




/* preview tecniche */

/*bottoni filtro */
.btn-2 a{
  	padding: 0.4rem 1rem 0 1rem;    	
  	background-size: 100%;
	height: 30px;
	width: auto;
  	border-radius: 0.3px;
	border: none;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
    background-color:white;
	cursor: pointer;
	color: #303030;
    text-decoration: none;
    border-top: 3px solid #303030;
    margin-right: 20px;   
}



.btn-2 a:hover {
	font-weight: 600;
    color: #fd715f;
    border-top: 3px solid #fd715f;
    
}

.btn-2 a.current {
	font-weight: 600;
    border-top: 3px solid #fd715f;
    color: #fd715f;
}

.btn-3 a{
  	padding-top: 0.4rem;    
  	background-size: 100%;
	height: 30px;
	width: 100px;
  	border: none;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
    background-color:transparent;
	cursor: pointer;
	color: #303030;
    text-decoration: none;
    border-top: 3px solid #303030;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn-3 a:hover {
	color: #fd715f !important; 
    border-top: 3px solid #fd715f;
    background-color:transparent;
}

/*
a:active {
	border-top: 3px solid #fd715f !important;
    color: #fd715f !important; 
    background-color:transparent !important;
}
*/




/*forme filtri*/

h9{
    text-transform: uppercase;
    font-weight: 17px;
    font-weight: 600;
    color: #303030;
    letter-spacing: 1.5;
}

.forms-btn{
    margin: 0px;
    margin-right: 10px;
    display: inline-flex;
    border: 2px solid #fd715f;
}

.row-2-methods{
    margin-top: 30px;
    margin-bottom: 100px;
}

/*cards methods*/
.card-b {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    text-align: center;
}

.card-mio{
    border: 2px solid #fd715f;
    border-radius: 0px;
    cursor: pointer;
}

.card-image{
    width: 80%;
    margin-top: 0.8rem;
}


.card-img-overlay{
    background-color: #303030;
    margin: 0 15 0 15;
    opacity: 0;    
}

.card-img-overlay:hover{
    opacity: .95;
    transition: 0.8s;
}

.square-prev{
    height: 15px;
    width: 15px;
    background-color: transparent;
    margin-right: 10px;
    border: 2px solid #fd715f;
    margin-left: 0px;
}

.circle-prev{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fd715f;
    margin-right: 10px;
}

.square-2-prev{
    height: 12px;
    width: 12px;
    background-color: transparent;
    margin-right: 10px;
    border: 2px solid #fd715f;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 0px;
}

.linea-prev{
    border-color: white;
    margin: 10 0 15 0;
    width: 40%;
    border-width: 3px
}

.text-prev{
    font-weight: 300;
    color: white;
}

/* filtro */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}


/* TIPS */

.list-group{
    display: inline-block;
    -webkit-box-orient: inline-axis;
    -webkit-box-direction: normal;
}

.list-group-item{
    padding: 0;
}

.list-group-item.active{
    border-top: 3px solid #fd715f !important;
    color: #fd715f !important; 
    background-color:transparent !important;
    
}

.list-group-item:first-child{
    border-radius: 0px;
}

.fac-tips{
    border: 2px solid #fd715f; 
    padding-left: 15px;
}

.p-tips{
    margin: 5px 0 15px 0;
}




@media screen and (max-width: 1282px) {
    .mac-13{
        max-width: 75%;
        margin-bottom: 80px;
    }
    
    .btn{
  	margin: 15px;
	padding: 0.5rem 1rem 0.5rem 1rem;
    }
    
    .home-titolo{    
    font-size: 30px;
	letter-spacing: 0.5px;
    margin-top: 10px;
     color: #fd715f;
    }   
    
    .tagline{
    font-size: 17px;	 
    }

    
}