@charset "utf-8";


<style>
@import url('https://fonts.googleapis.com/css?family=Glegoo|Hind:300|IBM+Plex+Sans:100,200,300,400,500,600,700');
</style>


body {
    height: 100%;
    width:100%;
    position: absolute;
    background-color: white; 
}

/* navbar */

#alto-sx{
    left: 3%;
    top: 3%;
    position: fixed;
    z-index: 50;
}

#alto-dx{
    right: 3%;
    top: 3%;
    position: fixed;
    z-index: 50;
}

#basso-sx{
    left: 3%;
    bottom: 3%;
    position: fixed;
    z-index: 50;
}

#basso-dx{
    right: 3%;
    bottom: 3%;
    position: fixed;
    z-index: 50;
}

.menu-sopra {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
	letter-spacing: 2px;
    color:#303030;}

.menu-sopra li a:hover {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #fd715f;
    height: 25px !important;
}

.attivo-sopra {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #fd715f;
    height: 25px !important;
}

.menu-sotto {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
	letter-spacing: 2px;
    color:#303030;}

.menu-sotto li a:hover {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-top: 3px solid #fd715f;
    height: 25px !important;
}

.attivo-sotto {
    color: #fd715f;
    font-weight: 700;
    text-decoration: none;
    border-top: 3px solid #fd715f;
    height: 25px !important;
}

/* FONT FONT */

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
	letter-spacing: 2px;
    color:#303030;
    margin-bottom: 0px;
    margin-left: -4px;
    
}


h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
	letter-spacing: 0.4px;
    color:#303030;
    line-height: 36px;
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
	letter-spacing: 0.4px;
    color:#fd715f;
    text-align: right;
}

h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
	letter-spacing: 0.4px;
    color:#fd715f;
    margin-bottom: 0px;
    margin-top: 30px;
}

h5{ 
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 7px;
    color: white;
    background-color: #fd715f;	
    text-transform: uppercase;
    margin: 30 0 0 55; 
}

h6{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #303030;    
    text-transform: uppercase;
}

h7{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 23px;
    font-size: 15px;
    color:#303030;
}

h8{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color:#303030;
    
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color:#303030;
    margin-top: 20px;
    
}


/* EXTRA */

.square{
    height: 20px;
    width: 20px;
    background-color: white;
    margin-right: 20px;
    border: 3px solid #fd715f;
    margin-left: 15px;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #fd715f;
    margin-right: 20px;
   
}

.square-2{
    height: 15px;
    width: 15px;
    background-color: white;
    margin-right: 20px;
    border: 3px solid #fd715f;
    transform: rotate(45deg);
    margin-top: 2px;
}

img {
    max-width: 100%;
    height: auto;    
}

#image-metodo{
    
    float:righ;
    }



.col-numeri{    
    border-right: 3px #fd715f solid;   
    right: 15px; }

.col-numeri-ws{    
    border-right: 7px #fd715f solid;   
    right: 15px; }

.link_style{
    color: #303030;
    font-weight: 600;
	text-decoration:none;
	background-image:linear-gradient(180deg,transparent 70%, rgba(253, 113, 95,.40) 0);
	}

.link_style:hover{
    text-decoration: none;    
    color:#303030;
    background-image:linear-gradient(180deg,transparent 1%, rgba(253, 113, 95,.40) 0);
    
}

.top-60{
    margin-top: 60px;
}

.top-30{
    margin-top: 30px;
}

/* BOTTONE */

.btn{
  	margin: 15px;
	padding: 1rem 1.5rem 1rem 1.5rem;    	
  	background-size: 100% 100%;
	height: 50px;
	width: auto;
  	border-radius: 0.3px;
	border: none;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.6px;
    font-weight: 600;
    background-color:white;
	cursor: pointer;
	border: 3px #303030 solid;	
  	color: #303030;
}


.btn:hover {
	border: 3px #fd715f solid;	
  	color: #fd715f;
}

.btn-2{
  	padding: 0.5rem 1rem 0 1rem;    	
  	background-size: 100%;
	height: 30px;
	width: auto;
  	border-radius: 0.3px;
	border: none;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13px;
	letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 600;
    background-color:white;
	cursor: pointer;
	color: #303030;
    text-decoration: none;
    border-top: 3px solid #303030;
    margin-right: 20px;
   
}

.forms-btn{
    margin: 0px;
    margin-right: 10px;
    display: inline-flex;
    border: 2px solid #fd715f;
}

.btn-2:hover {
	font-weight: 600;
    border-top: 3px solid #fd715f;
    color: #fd715f;
}


/* preview tecniche */

.row-2-methods{
    margin-top: 30px;
    margin-bottom: 100px;
}

.card-b {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    text-align: center;
}

.card-mio{
    border: 2px solid #fd715f;
    border-radius: 0px;
    cursor: pointer;
}

.card-image{
    width: 80%;
    margin-top: 0.8rem;
}

h9{
    text-transform: uppercase;
    font-weight: 17px;
    font-weight: 600;
    color: #303030;
    letter-spacing: 1.5;
}




.card-img-overlay{
    background-color: #303030;
    margin: 0 15 0 15;
    opacity: 0;    
}

.card-img-overlay:hover{
    opacity: .95;
    transition: 0.8s;
}

.square-prev{
    height: 15px;
    width: 15px;
    background-color: transparent;
    margin-right: 10px;
    border: 2px solid #fd715f;
    margin-left: 0px;
}

.circle-prev{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fd715f;
    margin-right: 10px;
}

.square-2-prev{
    height: 12px;
    width: 12px;
    background-color: transparent;
    margin-right: 10px;
    border: 2px solid #fd715f;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 0px;
}

.linea-prev{
    border-color: white;
    margin: 10 0 15 0;
    width: 40%;
    border-width: 3px
}

.text-prev{
    font-weight: 300;
    color: white;
}

/*
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20 15 20 15;
	opacity: 0;
	border: 0;
	transition: .5s ease;
	background-color:red;
	
}





/*.image-portfolio {
	padding-top:20px;
	padding-bottom: 20px;
	
	cursor: pointer;
}




.text {
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	padding-bottom:0px;
}*/
